$brand-primary:         #36464f;
$brand-primaryblack:    #243036;
$brand-color:           #fff;
$brand-noactive:        #b0bec5;
$brand-splash:          rgba(0,0,0,0.2);
$brand-active:          #d31c5b;

$font-base: 'Arial';
$font-base-size: 10px;
$font-path: '/fonts/';

// fontAwesomePath
$fontAwesomePath:   "/fonts" !default;
$imgpath:           '/img/';
$grid-spacing:      1rem;
